body {
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	width: 800px;
	border-left: 1px solid #000;
}

div.highlight {
	background: #eee;
	border: 1px solid #ddd;
	margin: 0 40px;
	width: 40em;
}
div.highlight pre {
	margin: 0.5em;
}
